/target
/src-tauri/target
*.hbc
!lib/*.hb
!examples/*.hb
!tests/*.hb
program
uygulama
merhaba_dunya
*.png
!src-tauri/icons/*.png
*.jpg
*.log
*.txt

huma-ide-linux-amd64
huma-linux-amd64

release-binaries/